
.margin{
  margin:25px;
}

/* .center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */

/* .right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} */
.effect {
  height: 120;
  transition: 1s; /* Время эффекта */

 }
 .effect:hover {
  transform: scale(1.6) ; /* Увеличиваем масштаб */

 }

