body {
  background-color: #f4e9d7;
  /* background-image: url(/proCoffee/front/public/images/coffee-bean-drawing-latte-cafe-coffee-bean-drawing-11562917383ykbbnfkedp.png); */
  /* background-image: url("https://images.app.goo.gl/quVcTvbZZiC7TQBY8"); */
  background-size: contain;
}

a {
  text-decoration: none;
}
/* #333333 */
.card {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  cursor: grab;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}
