body {
  background-color: #333333;
}
/* #333333 */
.card  {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  cursor: grab;
}
